# Copier ce fichier en .env et remplir les valeurs
DJANGO_SECRET_KEY=votre-clé-secrète-très-longue-et-aléatoire
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=votre-domaine.com,www.votre-domaine.com

# Email
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=noreply@votre-domaine.com
EMAIL_HOST=smtp.votre-fournisseur.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=votre-email@domaine.com
EMAIL_HOST_PASSWORD=votre-mot-de-passe-smtp
